.gradient-custom {
    /* fallback for old browsers */
    background: green;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(231, 239, 239), rgb(8, 230, 246));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(21, 160, 207), rgb(248, 247, 244))
    }


    .section{
        width: 800px;
    }