


<div class="container mt-5">
    <div class="row">
        <div *ngFor="let t of technicien"  class="col-4">
    
 


<div class="row" >
<div class="col-mg-4">
  <div class="card mb-4">
    <div class="card-body text-center">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
        class="rounded-circle img-fluid" style="width: 150px;">
      <h5 class="my-3">{{t.firstName}}</h5> {{t.id}}
      <p class="text-muted mb-1">{{t.descTech}}</p>
      <p class="text-muted mb-4">{{t.adresse}}</p>
      <div class="d-flex justify-content-center mb-2">
        <button type="button" [routerLink]="['/acceuil/techtache',t.id]" class="btn btn-primary">Les Tâches</button>
        <button type="button" (click)="affecter(t.id)" class="btn btn-outline-primary ms-1">Affecter</button>
      </div>
    </div>
  </div>

      
      </div>
    
      
    
    
    </div>
    
    
    </div>