

<div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
          
        <div class="card-body">
          <div class="d-flex">
          <h4 class="p-2 card-title">Nos Technicien</h4>
          <button type="button" (click)="ajoutertech()" class="ml-auto p-2 btn btn-outline-info btn-icon-text">
              <i class="mdi mdi-file-check btn-icon-prepend"></i>
              Ajouter un Technicien
            </button>
      </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Email</th>
                  <th>Téléphone</th>
                  <th>Specialité</th>
                  <th>Adresse</th>
                  <th>Modifier/Supprimer</th>
                </tr>
              </thead>
              <tbody *ngFor="let u of technicien">
                <tr>
                  <td>{{u.firstName}}</td>
                  <td>{{u.lastName}}</td>
                  <td>{{u.email}}</td>
                  <td>{{u.numTel}}</td>
                  <td>{{u.descTech}}</td>
                  <td>{{u.adresse}}</td>
                  <td>
                    <button type="button" class="btn btn-gradient-success">Modifier</button>

                    <button type="button" class="btn btn-danger" (click)="openModalforverif(verif,u.id)">Supprimer</button>

                  </td>
                  <td>
                   
               <!--
               <button type="button" class="btn btn-danger" (click)="openModalforverif(verif,u.id)">Supprimer</button>

               -->           
                </td>

                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <ng-template class="modal fade" #verif let-modal>
<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title"> Vous êtes sur?</div>
    <div class="modal-body">
      <div class="m-3">
      <button type="button" class="btn btn-primary" (click)="deletetech(id)" >YESSS!!</button>
      <button type="button" class="btn btn-danger" (click)="modal.close()" >Close</button>
    </div>
    </div>
  </div>
</div>

    
  
        
        
      
          
