
<div class="mt-5">


<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/sgsmAscenserus.jpeg" alt="logo">
        </div>
 
        <h6 class="font-weight-light">
         
          Connexion :
         
        </h6>
     
        <div *ngIf="wrongC"  class="alert alert-danger" >{{msg}}</div>

        <form class="pt-3" [formGroup]="credentials" (ngSubmit)="login(credentials)">
          <div class="form-group">
             <div *ngIf="credentials.controls.email.touched && credentials.controls.email.hasError('required')"  class="alert alert-danger" >This cannot be emty</div>
             <div *ngIf="credentials.controls.email.hasError('email')"  class="alert alert-danger" >Invalid email</div>
             <div *ngIf="credentials.controls.password.touched && credentials.controls.password.hasError('required')"  class="alert alert-danger" >Password is emty !</div>
            


            <input type="email" class="form-control form-control-lg" formControlName="email"   #em   id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">

            <input type="password" class="form-control form-control-lg" formControlName="password"   id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="mt-3">
            <button type="submit" class="btn btn-block btn btn-success btn-lg font-weight-medium auth-form-btn" >SIGN IN</button>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                <i class="input-helper"></i>
                Keep me signed in
              </label>
            </div>
          </div>
         
          
        </form>
      </div>
    </div>
  </div>
</div>  

</div>