

<form [formGroup]="Technicien">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter Un Technicien</h4>
       
          <p class="card-description">
            Personal info
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                  <input type="text"  formControlName="firstName" placeholder="First Name" id="firstName" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="lastName" placeholder="Last Name" id="lastName" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Numéro Tél :</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="numTel" placeholder="Numéro de telephone" id="numTel" class="form-control" />
                </div>
              </div>
            </div>
          
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email :</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="email"  placeholder="Email" id="email" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Address
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address </label>
                <div class="col-sm-9">
                  <input type="text" formControlName="adresse" placeholder="Adresse" id="adresse" class="form-control" />
                </div>
              </div>
            </div>  
          </div> 
          
          
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Description </label>
                <div class="col-sm-9">
                  <input type="text" formControlName="descTech" placeholder="Specialite" id="descTech" class="form-control" />
                </div>
              </div>
            </div>  
          </div>
        
       
          <div class="modal-footer">
            <button type="submit" value="update" class="btn btn-success" (click)="ajouterTechnicien()" >Submit</button>
            <button type="reset" class="btn btn-light" data-dismiss="modal">Clear</button>
          </div> 
      </div>
      </div>
  </div>

</form>